# Ignore the virtual environment
venv/
.env
# Ignore all files inside cache or temp folders
__pycache__/
temp/
.devcontainer
.devcontainer/


# Ignore database or runtime folders
db/
chroma_db/
logs/
